extends ../template

block title
	title Blog-item

block contain
	.block
		.block-head Блог
			a.btn-back(href="blog.html")
				<svg width="44" height="8" viewBox="0 0 44 8" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.646446 3.64645C0.451183 3.84171 0.451183 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646446 3.64645ZM44 3.5L1 3.5V4.5L44 4.5V3.5Z" fill="black"/>
				</svg>
				| Назад
		.block-contain.blog
			.blog-row
				.blog-item.blog-item_wide.blog-item_mod
					.blog-item-left
						.blog-item-left-head Дизайн
						.blog-item-left-big Развитие дизайна #[br] в 2019 году
					.blog-item-right.blog-item-right_mod
						img(src="img/blog-item_wide-img.png")
			.blog-time-row
				.blog-time-row-date 21 Февраля 2019
				.blog-time-row-name Кот Котевич
				.blog-time-row-readtime
					<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M13 0C5.8318 0 0 5.8318 0 13C0 20.1682 5.8318 26 13 26C20.1682 26 26 20.1682 26 13C26 5.8318 20.1682 0 13 0ZM13 25.1333C6.30977 25.1333 0.866667 19.6902 0.866667 13C0.866667 6.30977 6.30977 0.866667 13 0.866667C19.6902 0.866667 25.1333 6.30977 25.1333 13C25.1333 19.6902 19.6902 25.1333 13 25.1333Z" fill="#777777"/>
						<path d="M13 2.60001C12.7608 2.60001 12.5666 2.79371 12.5666 3.03334V13H6.06663C5.82743 13 5.6333 13.1937 5.6333 13.4333C5.6333 13.673 5.82743 13.8667 6.06663 13.8667H13C13.2392 13.8667 13.4333 13.673 13.4333 13.4333V3.03334C13.4333 2.79371 13.2392 2.60001 13 2.60001Z" fill="#777777"/>
					</svg>
					| Время чтения:&nbsp;<span class="bold-text">5 минут</span>
				.blog-time-row-share
					| Поделиться
					<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M14.8892 15.6359C14.6938 15.8313 14.5256 16.0461 14.3802 16.2732L7.93626 12.3617C8.10668 11.9351 8.20326 11.4712 8.20326 10.9845C8.20326 10.4979 8.10668 10.034 7.93663 9.60736L14.3821 5.72571C15.044 6.76539 16.2045 7.45826 17.5261 7.45826C19.5823 7.45826 21.2552 5.78537 21.2552 3.72913C21.2552 1.67289 19.5823 0 17.5261 0C15.4698 0 13.797 1.67289 13.797 3.72913C13.797 4.19751 13.8876 4.64426 14.0457 5.05745L7.59168 8.94432C6.92492 7.9285 5.77709 7.25539 4.47376 7.25539C2.41752 7.25539 0.744629 8.92828 0.744629 10.9845C0.744629 13.0408 2.41752 14.7137 4.47376 14.7137C5.77709 14.7137 6.92454 14.0405 7.59131 13.0247L14.0442 16.9414C13.8838 17.3613 13.7966 17.8099 13.7966 18.2727C13.7966 19.2688 14.1844 20.2055 14.8888 20.9096C15.6157 21.6364 16.5707 22 17.5257 22C18.4807 22 19.4358 21.6364 20.1626 20.9096C20.867 20.2052 21.2548 19.2688 21.2548 18.2727C21.2548 17.2767 20.867 16.3399 20.1626 15.6359C18.7086 14.1815 16.3432 14.1815 14.8892 15.6359ZM17.5261 0.745826C19.171 0.745826 20.5094 2.08421 20.5094 3.72913C20.5094 5.37405 19.171 6.71243 17.5261 6.71243C15.8812 6.71243 14.5428 5.37405 14.5428 3.72913C14.5428 2.08421 15.8808 0.745826 17.5261 0.745826ZM4.47413 13.9678C2.82921 13.9678 1.49083 12.6294 1.49083 10.9845C1.49083 9.33961 2.82921 8.00122 4.47413 8.00122C6.11905 8.00122 7.45744 9.33961 7.45744 10.9845C7.45744 12.6294 6.11905 13.9678 4.47413 13.9678ZM19.6353 20.3823C18.4722 21.5454 16.5796 21.5454 15.4165 20.3823C14.853 19.8188 14.5428 19.0693 14.5428 18.2727C14.5428 17.4762 14.853 16.7266 15.4165 16.1632C15.9983 15.5814 16.762 15.2909 17.5261 15.2909C18.2902 15.2909 19.0539 15.5814 19.6357 16.1632C20.1991 16.7266 20.5094 17.4762 20.5094 18.2727C20.5094 19.0693 20.1991 19.8188 19.6353 20.3823Z" fill="#777777"/>
					</svg>
			.blog-content
				.blog-content-head Первый заголовок по теме
				.blog-content-text
					| Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку. На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука.
				.blog-content-img
					img(src="img/cat.png")
					.blog-content-img__description Пример подписи под изображением в статье
				.blog-content-head Второй заголовок по теме
				.blog-content-text
					| Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку. На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука.
				.blog-content-author
					img.blog-content-author-img(src="img/catauthor.png")
					.blog-content-author-name
						.blog-content-author-head Автор:
						.blog-content-author-name__name Кот Котеевич
						a.blog-content-author-link.blog-content-author-link__name(href="#") Все статьи этого котавтора
					.blog-content-author-all
						.blog-content-author-head Все статьи этого котавтора:
						a.blog-content-author-link(href="#") Как научиться мурчать
						a.blog-content-author-link(href="#") Громкое урчанье
						a.blog-content-author-link(href="#") Мягкие лапки
				.blog-content-grade
					| Оцените материал:
					.blog-content-grade-stars
						.blog-content-grade-stars__item
							<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.5 0.809018L10.1706 5.95061L10.2267 6.12336H10.4084L15.8146 6.12336L11.4409 9.30103L11.2939 9.4078L11.35 9.58054L13.0206 14.7221L8.64695 11.5445L8.5 11.4377L8.35305 11.5445L3.97935 14.7221L5.64996 9.58054L5.70609 9.4078L5.55914 9.30103L1.18544 6.12336L6.59163 6.12336H6.77327L6.8294 5.95061L8.5 0.809018Z" fill="#F6E446" stroke="#777777" stroke-width="0.5"/>
							</svg>
						.blog-content-grade-stars__item
							<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.5 0.809018L10.1706 5.95061L10.2267 6.12336H10.4084L15.8146 6.12336L11.4409 9.30103L11.2939 9.4078L11.35 9.58054L13.0206 14.7221L8.64695 11.5445L8.5 11.4377L8.35305 11.5445L3.97935 14.7221L5.64996 9.58054L5.70609 9.4078L5.55914 9.30103L1.18544 6.12336L6.59163 6.12336H6.77327L6.8294 5.95061L8.5 0.809018Z" fill="#F6E446" stroke="#777777" stroke-width="0.5"/>
							</svg>
						.blog-content-grade-stars__item
							<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.5 0.809018L10.1706 5.95061L10.2267 6.12336H10.4084L15.8146 6.12336L11.4409 9.30103L11.2939 9.4078L11.35 9.58054L13.0206 14.7221L8.64695 11.5445L8.5 11.4377L8.35305 11.5445L3.97935 14.7221L5.64996 9.58054L5.70609 9.4078L5.55914 9.30103L1.18544 6.12336L6.59163 6.12336H6.77327L6.8294 5.95061L8.5 0.809018Z" fill="#F6E446" stroke="#777777" stroke-width="0.5"/>
							</svg>
						.blog-content-grade-stars__item
							<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.5 0.809018L10.1706 5.95061L10.2267 6.12336H10.4084L15.8146 6.12336L11.4409 9.30103L11.2939 9.4078L11.35 9.58054L13.0206 14.7221L8.64695 11.5445L8.5 11.4377L8.35305 11.5445L3.97935 14.7221L5.64996 9.58054L5.70609 9.4078L5.55914 9.30103L1.18544 6.12336L6.59163 6.12336H6.77327L6.8294 5.95061L8.5 0.809018Z" fill="#F6E446" stroke="#777777" stroke-width="0.5"/>
							</svg>
						.blog-content-grade-stars__item
							<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.5 0.809018L10.1706 5.95061L10.2267 6.12336H10.4084L15.8146 6.12336L11.4409 9.30103L11.2939 9.4078L11.35 9.58054L13.0206 14.7221L8.64695 11.5445L8.5 11.4377L8.35305 11.5445L3.97935 14.7221L5.64996 9.58054L5.70609 9.4078L5.55914 9.30103L1.18544 6.12336L6.59163 6.12336H6.77327L6.8294 5.95061L8.5 0.809018Z" fill="#F6E446" stroke="#777777" stroke-width="0.5"/>
							</svg>
				.blog-content-next-article
					.blog-content-next-article-head Как делать тыгдык-тыгдык ночью и не получать тапком
					a.blog-content-next-article-link(href="blog-item.html") Читать далее 