extends ../template

block title
	title MainPage

block contain
	.screen.first-screen
		.first-screen-side
			.head-text
				| Разработка и поддержка <span class="text-blue">eCommerce</span> проектов любой сложности
			.first-screen-side-list
				.first-screen-side-list-item Дизайн
				.first-screen-side-list-item Интеграция
				.first-screen-side-list-item Продвижение
				.first-screen-side-list-item Поддержка
		.first-screen-side.first-screen-side_background
			.mockup-wrapper
				.mockup-background
					img(src="img/first-screen-background.png")
				.mockup-top
					img(src="img/1.png")
				.mockup-right
					img(src="img/3.png")
				.mockup-bottom
					img(src="img/4.png")
				.mockup-left
					img(src="img/2.png")
				.mockup-site
					img(src="img/granat-mob.png")
	.screen.second-screen
		.container_pd-160
			.head-text Факты
			.second-screen-wrapper
				.second-screen-wrapper-side
					.second-screen-wrapper-side-column
						.second-screen-wrapper-side-item
							img(src="img/facts-1.png")
						.second-screen-wrapper-side-item
							img(src="img/facts-3.png")
					.second-screen-wrapper-side-column
						.second-screen-wrapper-side-item
							img(src="img/facts-2.png")
						.second-screen-wrapper-side-item
							img(src="img/facts-4.png")
				.second-screen-wrapper-side
					.second-screen-wrapper-side-row
						.second-screen-wrapper-side-row-item
							.second-screen-wrapper-side-row-item__head 70+
							.second-screen-wrapper-side-row-item__text Довольных клиентов, работающих с нами
						.second-screen-wrapper-side-row-item
							.second-screen-wrapper-side-row-item__head 7
							.second-screen-wrapper-side-row-item__text Лет мы занимаемся разработкой и поддержкой
						.second-screen-wrapper-side-row-item
							.second-screen-wrapper-side-row-item__head 38
							.second-screen-wrapper-side-row-item__text Топ разработчиков 1С-Битрикс в Санкт-Петербурге
						.second-screen-wrapper-side-row-item
							.second-screen-wrapper-side-row-item__head 30
							.second-screen-wrapper-side-row-item__text Топ разработчиков интернет-магазинов по версии CMS Magazine
						.second-screen-wrapper-side-row-item
							.second-screen-wrapper-side-row-item__head 5
							.second-screen-wrapper-side-row-item__text Средняя оценка нас клиентами по данным Рейтинга Рунета
						.second-screen-wrapper-side-row-item
							.second-screen-wrapper-side-row-item__head 13+
							.second-screen-wrapper-side-row-item__text Сертифицированных специалистов в команде


