extends ../template

block title
	title MainPage

block contain
	.map-wrapper
		.map-legend-mob
		#map.map(style="width: 100%; height: 100vh")
		.map-legend
			
			.map-legend-wrapper
				.map-legend-column
					.legend-item(data-filter-map="fun")
						img(src="img/child's garden.png")
						span Детский спортивные клубы и секции
					.legend-item(data-filter-map="gym")
						img(src="img/gym.png")
						span Спортивные клубы, фитнес
					.legend-item(data-filter-map="healthfood")
						img(src="img/healthfood.png")
						span Эко-лавки, спортивное питание
					.legend-item(data-filter-map="bycicle")
						img(src="img/bycicle.png")
						span Велосипеды (прокат, продажа)
					.legend-item(data-filter-map="beach")
						img(src="img/beach.png")
						span Пляж
					.legend-item(data-filter-map="workout")
						img(src="img/workout.png")
						span Уличные спортивные площадки
				.map-legend-column
					.legend-item(data-filter-map="horse")
						img(src="img/horse.png")
						span Конный спорт
					.legend-item(data-filter-map="snowboard")
						img(src="img/snowboard.png")
						span Лыжи, сноуборды
					.legend-item(data-filter-map="spa")
						img(src="img/spa.png")
						span Спа, соляные пещеры
					.legend-item(data-filter-map="mount")
						img(src="img/mount.png")
						span Скалодром, батутный центры
					.legend-item(data-filter-map="ski")
						img(src="img/ski.png")
						span Каток, прокат коньков
					.legend-item(data-filter-map="park")
						img(src="img/park.png")
						span Парки
			.legend-item.legend-item_all(data-filter-map="")
					span Показать все