extends ../template

block title
	title MainPage

block contain
	.screen.first-screen#first-screen
		.first-screen-side
			.head-text
				| Разработка и поддержка <span class="text-blue">eCommerce</span> проектов любой сложности
			.first-screen-side-list
				.first-screen-side-list-item Дизайн
				.first-screen-side-list-item Интеграция
				.first-screen-side-list-item Продвижение
				.first-screen-side-list-item Поддержка
		.first-screen-side.first-screen-side_background
			.mockup-wrapper
				.mockup-background
					img(src="img/first-screen-background.png")
				.mockup-top
					img(src="img/1.png")
				.mockup-right
					img(src="img/3.png")
				.mockup-bottom
					img(src="img/4.png")
				.mockup-left
					img(src="img/2.png")
				.mockup-site(site)
					img(src="img/granat-mob.png")
	.screen.second-screen#second-screen
		.container_pd-160
			.head-text Факты
			.second-screen-wrapper
				.second-screen-wrapper-side
					.second-screen-wrapper-side-column
						.second-screen-wrapper-side-item
							img(src="img/facts-1.png")
						.second-screen-wrapper-side-item
							img(src="img/facts-3.png")
					.second-screen-wrapper-side-column
						.second-screen-wrapper-side-item
							img(src="img/facts-2.png")
						.second-screen-wrapper-side-item
							img(src="img/facts-4.png")
				.second-screen-wrapper-side
					.second-screen-wrapper-side-row
						.second-screen-wrapper-side-row-item
							.second-screen-wrapper-side-row-item__head 70+
							.second-screen-wrapper-side-row-item__text Довольных клиентов, работающих с нами
						.second-screen-wrapper-side-row-item
							.second-screen-wrapper-side-row-item__head 7
							.second-screen-wrapper-side-row-item__text Лет мы занимаемся разработкой и поддержкой
						.second-screen-wrapper-side-row-item
							.second-screen-wrapper-side-row-item__head 38
							.second-screen-wrapper-side-row-item__text Топ разработчиков 1С-Битрикс в Санкт-Петербурге
						.second-screen-wrapper-side-row-item
							.second-screen-wrapper-side-row-item__head 30
							.second-screen-wrapper-side-row-item__text Топ разработчиков интернет-магазинов по версии CMS Magazine
						.second-screen-wrapper-side-row-item
							.second-screen-wrapper-side-row-item__head 5
							.second-screen-wrapper-side-row-item__text Средняя оценка нас клиентами по данным Рейтинга Рунета
						.second-screen-wrapper-side-row-item
							.second-screen-wrapper-side-row-item__head 13+
							.second-screen-wrapper-side-row-item__text Сертифицированных специалистов в команде
	.screen.third-screen#third-screen
		.container_pd-160
			.head-text.mb70 Индивидуальное решение для каждого бизнеса
			.tabs-nav
				.tabs-nav-item.active Строительные компании
				.tabs-nav-item Медицинское направление
				.tabs-nav-item Рестораны
		.tabs-list
			.container_pd-160
				.tabs-list-item.active
					.tabs-list-item-side
						.tabs-list-item-text
							.tabs-list-item-text__head Гранат
							.tabs-list-item-text__descr земельные участки
							.tabs-list-item-text__arrow
								<svg width="88" height="8" viewBox="0 0 88 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M87.3536 4.35355C87.5488 4.15829 87.5488 3.84171 87.3536 3.64645L84.1716 0.464466C83.9763 0.269204 83.6597 0.269204 83.4645 0.464466C83.2692 0.659728 83.2692 0.976311 83.4645 1.17157L86.2929 4L83.4645 6.82843C83.2692 7.02369 83.2692 7.34027 83.4645 7.53553C83.6597 7.7308 83.9763 7.7308 84.1716 7.53553L87.3536 4.35355ZM0 4.5H87V3.5H0V4.5Z" fill="black"/>
								</svg>
						.tabs-list-item-img
							.tabs-list-item-img__icon
								| scroll
								img(src="img/icons/mouse.png")
							.tabs-list-item-img-devices
								.tabs-list-item-img-devices-desctop
									.mockup-desctop-top
										img(src="img/1-1.png")
									.mockup-desctop-right
										img(src="img/1-2.png")
									.mockup-desctop-bottom
										img(src="img/1-4.png")
									.mockup-desctop-left
										img(src="img/1-3.png")
									.mockup-desctop-site(site)
										img(src="img/granat-desc.png")
								.tabs-list-item-img-devices-mob
									.mockup-wrapper
										.mockup-top
											img(src="img/1.png")
										.mockup-right
											img(src="img/3.png")
										.mockup-bottom
											img(src="img/4.png")
										.mockup-left
											img(src="img/2.png")
										.mockup-site(site)
											img(src="img/granat-mob.png")
					.tabs-list-item-side
						.tabs-list-item-text
							.tabs-list-item-text__head Синепл
							.tabs-list-item-text__descr интернет магазин
							.tabs-list-item-text__arrow
								<svg width="88" height="8" viewBox="0 0 88 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M87.3536 4.35355C87.5488 4.15829 87.5488 3.84171 87.3536 3.64645L84.1716 0.464466C83.9763 0.269204 83.6597 0.269204 83.4645 0.464466C83.2692 0.659728 83.2692 0.976311 83.4645 1.17157L86.2929 4L83.4645 6.82843C83.2692 7.02369 83.2692 7.34027 83.4645 7.53553C83.6597 7.7308 83.9763 7.7308 84.1716 7.53553L87.3536 4.35355ZM0 4.5H87V3.5H0V4.5Z" fill="black"/>
								</svg>
						.tabs-list-item-img
							.tabs-list-item-img__icon
								| scroll
								img(src="img/icons/mouse.png")
							.tabs-list-item-img-devices
								.tabs-list-item-img-devices-desctop
									.mockup-desctop-top
										img(src="img/1-1.png")
									.mockup-desctop-right
										img(src="img/1-2.png")
									.mockup-desctop-bottom
										img(src="img/1-4.png")
									.mockup-desctop-left
										img(src="img/1-3.png")
									.mockup-desctop-site(site)
										img(src="img/sinapple-desc.png")
								.tabs-list-item-img-devices-mob
									.mockup-wrapper
										.mockup-top
											img(src="img/1.png")
										.mockup-right
											img(src="img/3.png")
										.mockup-bottom
											img(src="img/4.png")
										.mockup-left
											img(src="img/2.png")
										.mockup-site(site)
											img(src="img/sinapple-mob.png")
				.tabs-list-item
					.tabs-list-item-side
						.tabs-list-item-text
							.tabs-list-item-text__head Гранат
							.tabs-list-item-text__descr земельные участки
							.tabs-list-item-text__arrow
								<svg width="88" height="8" viewBox="0 0 88 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M87.3536 4.35355C87.5488 4.15829 87.5488 3.84171 87.3536 3.64645L84.1716 0.464466C83.9763 0.269204 83.6597 0.269204 83.4645 0.464466C83.2692 0.659728 83.2692 0.976311 83.4645 1.17157L86.2929 4L83.4645 6.82843C83.2692 7.02369 83.2692 7.34027 83.4645 7.53553C83.6597 7.7308 83.9763 7.7308 84.1716 7.53553L87.3536 4.35355ZM0 4.5H87V3.5H0V4.5Z" fill="black"/>
								</svg>
						.tabs-list-item-img
							.tabs-list-item-img__icon
								| scroll
								img(src="img/icons/mouse.png")
							.tabs-list-item-img-devices
								.tabs-list-item-img-devices-desctop
									.mockup-desctop-top
										img(src="img/1-1.png")
									.mockup-desctop-right
										img(src="img/1-2.png")
									.mockup-desctop-bottom
										img(src="img/1-4.png")
									.mockup-desctop-left
										img(src="img/1-3.png")
									.mockup-desctop-site(site)
										img(src="img/granat-desc.png")
								.tabs-list-item-img-devices-mob
									.mockup-wrapper
										.mockup-top
											img(src="img/1.png")
										.mockup-right
											img(src="img/3.png")
										.mockup-bottom
											img(src="img/4.png")
										.mockup-left
											img(src="img/2.png")
										.mockup-site(site)
											img(src="img/granat-mob.png")
					.tabs-list-item-side
						.tabs-list-item-text
							.tabs-list-item-text__head Синепл
							.tabs-list-item-text__descr интернет магазин
							.tabs-list-item-text__arrow
								<svg width="88" height="8" viewBox="0 0 88 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M87.3536 4.35355C87.5488 4.15829 87.5488 3.84171 87.3536 3.64645L84.1716 0.464466C83.9763 0.269204 83.6597 0.269204 83.4645 0.464466C83.2692 0.659728 83.2692 0.976311 83.4645 1.17157L86.2929 4L83.4645 6.82843C83.2692 7.02369 83.2692 7.34027 83.4645 7.53553C83.6597 7.7308 83.9763 7.7308 84.1716 7.53553L87.3536 4.35355ZM0 4.5H87V3.5H0V4.5Z" fill="black"/>
								</svg>
						.tabs-list-item-img
							.tabs-list-item-img__icon
								| scroll
								img(src="img/icons/mouse.png")
							.tabs-list-item-img-devices
								.tabs-list-item-img-devices-desctop
									.mockup-desctop-top
										img(src="img/1-1.png")
									.mockup-desctop-right
										img(src="img/1-2.png")
									.mockup-desctop-bottom
										img(src="img/1-4.png")
									.mockup-desctop-left
										img(src="img/1-3.png")
									.mockup-desctop-site(site)
										img(src="img/sinapple-desc.png")
								.tabs-list-item-img-devices-mob
									.mockup-wrapper
										.mockup-top
											img(src="img/1.png")
										.mockup-right
											img(src="img/3.png")
										.mockup-bottom
											img(src="img/4.png")
										.mockup-left
											img(src="img/2.png")
										.mockup-site(site)
											img(src="img/sinapple-mob.png")
				.tabs-list-item
					.tabs-list-item-side
						.tabs-list-item-text
							.tabs-list-item-text__head Гранат
							.tabs-list-item-text__descr земельные участки
							.tabs-list-item-text__arrow
								<svg width="88" height="8" viewBox="0 0 88 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M87.3536 4.35355C87.5488 4.15829 87.5488 3.84171 87.3536 3.64645L84.1716 0.464466C83.9763 0.269204 83.6597 0.269204 83.4645 0.464466C83.2692 0.659728 83.2692 0.976311 83.4645 1.17157L86.2929 4L83.4645 6.82843C83.2692 7.02369 83.2692 7.34027 83.4645 7.53553C83.6597 7.7308 83.9763 7.7308 84.1716 7.53553L87.3536 4.35355ZM0 4.5H87V3.5H0V4.5Z" fill="black"/>
								</svg>
						.tabs-list-item-img
							.tabs-list-item-img__icon
								| scroll
								img(src="img/icons/mouse.png")
							.tabs-list-item-img-devices
								.tabs-list-item-img-devices-desctop
									.mockup-desctop-top
										img(src="img/1-1.png")
									.mockup-desctop-right
										img(src="img/1-2.png")
									.mockup-desctop-bottom
										img(src="img/1-4.png")
									.mockup-desctop-left
										img(src="img/1-3.png")
									.mockup-desctop-site(site)
										img(src="img/granat-desc.png")
								.tabs-list-item-img-devices-mob
									.mockup-wrapper
										.mockup-top
											img(src="img/1.png")
										.mockup-right
											img(src="img/3.png")
										.mockup-bottom
											img(src="img/4.png")
										.mockup-left
											img(src="img/2.png")
										.mockup-site(site)
											img(src="img/granat-mob.png")
					.tabs-list-item-side
						.tabs-list-item-text
							.tabs-list-item-text__head Синепл
							.tabs-list-item-text__descr интернет магазин
							.tabs-list-item-text__arrow
								<svg width="88" height="8" viewBox="0 0 88 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M87.3536 4.35355C87.5488 4.15829 87.5488 3.84171 87.3536 3.64645L84.1716 0.464466C83.9763 0.269204 83.6597 0.269204 83.4645 0.464466C83.2692 0.659728 83.2692 0.976311 83.4645 1.17157L86.2929 4L83.4645 6.82843C83.2692 7.02369 83.2692 7.34027 83.4645 7.53553C83.6597 7.7308 83.9763 7.7308 84.1716 7.53553L87.3536 4.35355ZM0 4.5H87V3.5H0V4.5Z" fill="black"/>
								</svg>
						.tabs-list-item-img
							.tabs-list-item-img__icon
								| scroll
								img(src="img/icons/mouse.png")
							.tabs-list-item-img-devices
								.tabs-list-item-img-devices-desctop
									.mockup-desctop-top
										img(src="img/1-1.png")
									.mockup-desctop-right
										img(src="img/1-2.png")
									.mockup-desctop-bottom
										img(src="img/1-4.png")
									.mockup-desctop-left
										img(src="img/1-3.png")
									.mockup-desctop-site(site)
										img(src="img/sinapple-desc.png")
								.tabs-list-item-img-devices-mob
									.mockup-wrapper
										.mockup-top
											img(src="img/1.png")
										.mockup-right
											img(src="img/3.png")
										.mockup-bottom
											img(src="img/4.png")
										.mockup-left
											img(src="img/2.png")
										.mockup-site(site)
											img(src="img/sinapple-mob.png")
		.show-more
			a.link-feedback(href="#") Все проекты
	.screen.fourth-screen#fourth-screen
		.container_pd-160
			.head-text Направление разработки
			.ways-dev
				.ways-dev-side
					.ways-dev-list.ways-dev-list-t1
						.ways-dev-list-item.active Разработка сайтов
						.ways-dev-list-item Таргетированная и контектсная реклама
						.ways-dev-list-item Репутационный маркетинг
						.ways-dev-list-item Продвижение сайтов
						.ways-dev-list-item Продвижение в социальных сетях
						.ways-dev-list-item Техническая поддержка сайта
						.ways-dev-list-item Online-PR
						.ways-dev-list-item Контент-маркетинг
					.ways-dev-list.ways-dev-list-t2.active
						.ways-dev-list-item Разработка посадочных страниц
						.ways-dev-list-item Разработка интернет-магазинов
						.ways-dev-list-item Разработка интернет-портала
						.ways-dev-list-item Разработка CRM систем
						.ways-dev-list-item Разработка интернет-сервисов
						.ways-dev-list-item Разработка индивидуальных проектов
						.ways-dev-list-item Разработка "бюджетный сайт"
					.ways-dev-list.ways-dev-list-t2
						.ways-dev-list-item Разработка посадочных страниц
						.ways-dev-list-item Разработка интернет-магазинов
						.ways-dev-list-item Разработка интернет-портала
						.ways-dev-list-item Разработка CRM систем
						.ways-dev-list-item Разработка интернет-сервисов
						.ways-dev-list-item Разработка индивидуальных проектов
					.ways-dev-list.ways-dev-list-t2
						.ways-dev-list-item Разработка посадочных страниц
						.ways-dev-list-item Разработка интернет-магазинов
						.ways-dev-list-item Разработка интернет-портала
						.ways-dev-list-item Разработка CRM систем
						.ways-dev-list-item Разработка интернет-сервисов
					.ways-dev-list.ways-dev-list-t2
						.ways-dev-list-item Разработка посадочных страниц
						.ways-dev-list-item Разработка интернет-магазинов
						.ways-dev-list-item Разработка интернет-портала
						.ways-dev-list-item Разработка CRM систем
						.ways-dev-list-item Разработка интернет-сервисов
					.ways-dev-list.ways-dev-list-t2
						.ways-dev-list-item Разработка посадочных страниц
						.ways-dev-list-item Разработка интернет-магазинов
						.ways-dev-list-item Разработка интернет-портала
						.ways-dev-list-item Разработка CRM систем
					.ways-dev-list.ways-dev-list-t2
						.ways-dev-list-item Разработка посадочных страниц
						.ways-dev-list-item Разработка интернет-магазинов
						.ways-dev-list-item Разработка интернет-портала
					.ways-dev-list.ways-dev-list-t2
						.ways-dev-list-item Разработка посадочных страниц
					.ways-dev-list.ways-dev-list-t2
						.ways-dev-list-item Разработка посадочных страниц
						.ways-dev-list-item Разработка интернет-магазинов
						.ways-dev-list-item Разработка интернет-портала
						.ways-dev-list-item Разработка CRM систем
						.ways-dev-list-item Разработка интернет-сервисов
						.ways-dev-list-item Разработка индивидуальных проектов
						.ways-dev-list-item Разработка "бюджетный сайт"
				.ways-dev-side
					.ways-dev-img-wrapper
						.ways-dev-img
							img(src="img/ways-dev.png")
						.ways-dev-img
							img(src="img/ways-dev.png")
						.ways-dev-img
							img(src="img/ways-dev.png")
						.ways-dev-img
							img(src="img/ways-dev.png")
						.ways-dev-img
							img(src="img/ways-dev.png")
						.ways-dev-img
							img(src="img/ways-dev.png")
						.ways-dev-img
							img(src="img/ways-dev.png")
					.ways-dev-img-lg-wrapper
						.ways-dev-img-lg.active
							img(src="img/ways-dev.png")
						.ways-dev-img-lg
							img(src="img/ways-dev.png")
						.ways-dev-img-lg
							img(src="img/ways-dev.png")
						.ways-dev-img-lg
							img(src="img/ways-dev.png")
						.ways-dev-img-lg
							img(src="img/ways-dev.png")
						.ways-dev-img-lg
							img(src="img/ways-dev.png")
						.ways-dev-img-lg
							img(src="img/ways-dev.png")
	.screen.fifth-screen#fifth-screen
		.container_pd-160
			.head-text Блог
			.slider-wrapper
				.slider-card
					.slider-card-img-wrapper
						.slider-card-img-track(style="transform: translateY(0)")
							.slider-card-img.active
								.slider-card-img__tooltip Cайты
								img(src="img/slider-1-1.png")
							.slider-card-img
								.slider-card-img__tooltip Cайты
								img(src="img/slider-1-1.png")
							.slider-card-img
								.slider-card-img__tooltip Cайты
								img(src="img/slider-1-1.png")
							.slider-card-img
								.slider-card-img__tooltip Cайты
								img(src="img/slider-1-1.png")
					.slider-card-text.active Тут будет краткое описание новости
					.slider-card-text Тут будет краткое описание второй новости
					.slider-card-text Тут будет краткое описание третьей новости
					.slider-card-text 
						| Тут будет краткое описание четвертой новости.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos, ipsam vitae quasi hic, laborum dolorum similique veniam porro voluptatem.
					.slider-card-footer
						.timestamp-wrapper.active
							.timestamp
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M9.19744 8.55551L7.14145 7.31751C6.84945 7.14251 6.71045 6.80251 6.75945 6.47551V4.33351C6.75945 3.93351 7.08245 3.61051 7.48145 3.61051C7.88045 3.61051 8.20444 3.93351 8.20444 4.33351V6.05151L9.98944 7.12651C10.3674 7.35351 10.4974 7.85951 10.2784 8.25351C10.0604 8.64851 9.57645 8.78351 9.19744 8.55551ZM7.48145 1.44451C4.68945 1.44451 2.42645 3.70751 2.42645 6.49951C2.42645 9.29151 4.68945 11.5555 7.48145 11.5555C10.2734 11.5555 12.5374 9.29151 12.5374 6.49951C12.5374 3.70751 10.2734 1.44451 7.48145 1.44451ZM7.48145 12.9995C3.89245 12.9995 0.981445 10.0895 0.981445 6.49951C0.981445 2.90951 3.89245 -0.000488281 7.48145 -0.000488281C11.0714 -0.000488281 13.9814 2.90951 13.9814 6.49951C13.9814 10.0895 11.0714 12.9995 7.48145 12.9995Z" fill="#B9BED1"/>
								</svg>
								| 15 минут назад
						.timestamp-wrapper
							.timestamp
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M9.19744 8.55551L7.14145 7.31751C6.84945 7.14251 6.71045 6.80251 6.75945 6.47551V4.33351C6.75945 3.93351 7.08245 3.61051 7.48145 3.61051C7.88045 3.61051 8.20444 3.93351 8.20444 4.33351V6.05151L9.98944 7.12651C10.3674 7.35351 10.4974 7.85951 10.2784 8.25351C10.0604 8.64851 9.57645 8.78351 9.19744 8.55551ZM7.48145 1.44451C4.68945 1.44451 2.42645 3.70751 2.42645 6.49951C2.42645 9.29151 4.68945 11.5555 7.48145 11.5555C10.2734 11.5555 12.5374 9.29151 12.5374 6.49951C12.5374 3.70751 10.2734 1.44451 7.48145 1.44451ZM7.48145 12.9995C3.89245 12.9995 0.981445 10.0895 0.981445 6.49951C0.981445 2.90951 3.89245 -0.000488281 7.48145 -0.000488281C11.0714 -0.000488281 13.9814 2.90951 13.9814 6.49951C13.9814 10.0895 11.0714 12.9995 7.48145 12.9995Z" fill="#B9BED1"/>
								</svg>
								| 28 дней назад
						.timestamp-wrapper
							.timestamp
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M9.19744 8.55551L7.14145 7.31751C6.84945 7.14251 6.71045 6.80251 6.75945 6.47551V4.33351C6.75945 3.93351 7.08245 3.61051 7.48145 3.61051C7.88045 3.61051 8.20444 3.93351 8.20444 4.33351V6.05151L9.98944 7.12651C10.3674 7.35351 10.4974 7.85951 10.2784 8.25351C10.0604 8.64851 9.57645 8.78351 9.19744 8.55551ZM7.48145 1.44451C4.68945 1.44451 2.42645 3.70751 2.42645 6.49951C2.42645 9.29151 4.68945 11.5555 7.48145 11.5555C10.2734 11.5555 12.5374 9.29151 12.5374 6.49951C12.5374 3.70751 10.2734 1.44451 7.48145 1.44451ZM7.48145 12.9995C3.89245 12.9995 0.981445 10.0895 0.981445 6.49951C0.981445 2.90951 3.89245 -0.000488281 7.48145 -0.000488281C11.0714 -0.000488281 13.9814 2.90951 13.9814 6.49951C13.9814 10.0895 11.0714 12.9995 7.48145 12.9995Z" fill="#B9BED1"/>
								</svg>
								| 28 недель назад
						.timestamp-wrapper
							.timestamp
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M9.19744 8.55551L7.14145 7.31751C6.84945 7.14251 6.71045 6.80251 6.75945 6.47551V4.33351C6.75945 3.93351 7.08245 3.61051 7.48145 3.61051C7.88045 3.61051 8.20444 3.93351 8.20444 4.33351V6.05151L9.98944 7.12651C10.3674 7.35351 10.4974 7.85951 10.2784 8.25351C10.0604 8.64851 9.57645 8.78351 9.19744 8.55551ZM7.48145 1.44451C4.68945 1.44451 2.42645 3.70751 2.42645 6.49951C2.42645 9.29151 4.68945 11.5555 7.48145 11.5555C10.2734 11.5555 12.5374 9.29151 12.5374 6.49951C12.5374 3.70751 10.2734 1.44451 7.48145 1.44451ZM7.48145 12.9995C3.89245 12.9995 0.981445 10.0895 0.981445 6.49951C0.981445 2.90951 3.89245 -0.000488281 7.48145 -0.000488281C11.0714 -0.000488281 13.9814 2.90951 13.9814 6.49951C13.9814 10.0895 11.0714 12.9995 7.48145 12.9995Z" fill="#B9BED1"/>
								</svg>
								| 28 лет назад
				.slider-card-2
					.slider-card-2-side.slider-card-2-side_text
						.slider-card-2-side-head
							.slider-card-2-side-head-track(style="transform: translateY(0)")
								.slider-card-2-side-head-wrapper.active
									| USER EXPERIENCE DESIGN
								.slider-card-2-side-head-wrapper
									| USER INTERFACE DESIGN
								.slider-card-2-side-head-wrapper
									| WEB DEVELOPMENT
								.slider-card-2-side-head-wrapper
									| ILYUSHIN'S CODE
						.slider-card-2-side-text
							.slider-card-2-side-text-wrapper.active Здесь идет текст выводмой новости
							.slider-card-2-side-text-wrapper Здесь идет текст выводмой новости Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam asperiores dolorem velit. Asperiores recusandae voluptate excepturi laudantium molestiae ab, distinctio.
							.slider-card-2-side-text-wrapper Здесь идет текст выводмой новости Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, culpa.
							.slider-card-2-side-text-wrapper Здесь идет текст выводмой новости Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat labore eaque eveniet ab necessitatibus accusantium architecto tempora delectus temporibus, quas accusamus amet tenetur earum totam quos at aperiam dicta, similique.
						.slider-card-2-side-footer
							.timestamp-wrapper.active
								.timestamp
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M9.19744 8.55551L7.14145 7.31751C6.84945 7.14251 6.71045 6.80251 6.75945 6.47551V4.33351C6.75945 3.93351 7.08245 3.61051 7.48145 3.61051C7.88045 3.61051 8.20444 3.93351 8.20444 4.33351V6.05151L9.98944 7.12651C10.3674 7.35351 10.4974 7.85951 10.2784 8.25351C10.0604 8.64851 9.57645 8.78351 9.19744 8.55551ZM7.48145 1.44451C4.68945 1.44451 2.42645 3.70751 2.42645 6.49951C2.42645 9.29151 4.68945 11.5555 7.48145 11.5555C10.2734 11.5555 12.5374 9.29151 12.5374 6.49951C12.5374 3.70751 10.2734 1.44451 7.48145 1.44451ZM7.48145 12.9995C3.89245 12.9995 0.981445 10.0895 0.981445 6.49951C0.981445 2.90951 3.89245 -0.000488281 7.48145 -0.000488281C11.0714 -0.000488281 13.9814 2.90951 13.9814 6.49951C13.9814 10.0895 11.0714 12.9995 7.48145 12.9995Z" fill="#B9BED1"/>
									</svg>
									| 15 минут назад
							.timestamp-wrapper
								.timestamp
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M9.19744 8.55551L7.14145 7.31751C6.84945 7.14251 6.71045 6.80251 6.75945 6.47551V4.33351C6.75945 3.93351 7.08245 3.61051 7.48145 3.61051C7.88045 3.61051 8.20444 3.93351 8.20444 4.33351V6.05151L9.98944 7.12651C10.3674 7.35351 10.4974 7.85951 10.2784 8.25351C10.0604 8.64851 9.57645 8.78351 9.19744 8.55551ZM7.48145 1.44451C4.68945 1.44451 2.42645 3.70751 2.42645 6.49951C2.42645 9.29151 4.68945 11.5555 7.48145 11.5555C10.2734 11.5555 12.5374 9.29151 12.5374 6.49951C12.5374 3.70751 10.2734 1.44451 7.48145 1.44451ZM7.48145 12.9995C3.89245 12.9995 0.981445 10.0895 0.981445 6.49951C0.981445 2.90951 3.89245 -0.000488281 7.48145 -0.000488281C11.0714 -0.000488281 13.9814 2.90951 13.9814 6.49951C13.9814 10.0895 11.0714 12.9995 7.48145 12.9995Z" fill="#B9BED1"/>
									</svg>
									| 28 дней назад
							.timestamp-wrapper
								.timestamp
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M9.19744 8.55551L7.14145 7.31751C6.84945 7.14251 6.71045 6.80251 6.75945 6.47551V4.33351C6.75945 3.93351 7.08245 3.61051 7.48145 3.61051C7.88045 3.61051 8.20444 3.93351 8.20444 4.33351V6.05151L9.98944 7.12651C10.3674 7.35351 10.4974 7.85951 10.2784 8.25351C10.0604 8.64851 9.57645 8.78351 9.19744 8.55551ZM7.48145 1.44451C4.68945 1.44451 2.42645 3.70751 2.42645 6.49951C2.42645 9.29151 4.68945 11.5555 7.48145 11.5555C10.2734 11.5555 12.5374 9.29151 12.5374 6.49951C12.5374 3.70751 10.2734 1.44451 7.48145 1.44451ZM7.48145 12.9995C3.89245 12.9995 0.981445 10.0895 0.981445 6.49951C0.981445 2.90951 3.89245 -0.000488281 7.48145 -0.000488281C11.0714 -0.000488281 13.9814 2.90951 13.9814 6.49951C13.9814 10.0895 11.0714 12.9995 7.48145 12.9995Z" fill="#B9BED1"/>
									</svg>
									| 28 недель назад
							.timestamp-wrapper
								.timestamp
									<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M9.19744 8.55551L7.14145 7.31751C6.84945 7.14251 6.71045 6.80251 6.75945 6.47551V4.33351C6.75945 3.93351 7.08245 3.61051 7.48145 3.61051C7.88045 3.61051 8.20444 3.93351 8.20444 4.33351V6.05151L9.98944 7.12651C10.3674 7.35351 10.4974 7.85951 10.2784 8.25351C10.0604 8.64851 9.57645 8.78351 9.19744 8.55551ZM7.48145 1.44451C4.68945 1.44451 2.42645 3.70751 2.42645 6.49951C2.42645 9.29151 4.68945 11.5555 7.48145 11.5555C10.2734 11.5555 12.5374 9.29151 12.5374 6.49951C12.5374 3.70751 10.2734 1.44451 7.48145 1.44451ZM7.48145 12.9995C3.89245 12.9995 0.981445 10.0895 0.981445 6.49951C0.981445 2.90951 3.89245 -0.000488281 7.48145 -0.000488281C11.0714 -0.000488281 13.9814 2.90951 13.9814 6.49951C13.9814 10.0895 11.0714 12.9995 7.48145 12.9995Z" fill="#B9BED1"/>
									</svg>
									| 28 лет назад
					.slider-card-2-side.slider-card-2-side_img
						.slider-card-2-side-img-wrapper.active
							.slider-card-2-side-img
								img(src="img/slider-2-1.png")
						.slider-card-2-side-img-wrapper
							.slider-card-2-side-img
								img(src="img/slider-1-1.png")
						.slider-card-2-side-img-wrapper
							.slider-card-2-side-img
								img(src="img/slider-2-1.png")
						.slider-card-2-side-img-wrapper
							.slider-card-2-side-img
								img(src="img/slider-2-1.png")
				.slider-card-3
					.slider-card-3-track(style="transform: translateY(0)")
						.slider-card-3-item.active
							.timestamp.timestamp_white
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M9.19744 8.55551L7.14145 7.31751C6.84945 7.14251 6.71045 6.80251 6.75945 6.47551V4.33351C6.75945 3.93351 7.08245 3.61051 7.48145 3.61051C7.88045 3.61051 8.20444 3.93351 8.20444 4.33351V6.05151L9.98944 7.12651C10.3674 7.35351 10.4974 7.85951 10.2784 8.25351C10.0604 8.64851 9.57645 8.78351 9.19744 8.55551ZM7.48145 1.44451C4.68945 1.44451 2.42645 3.70751 2.42645 6.49951C2.42645 9.29151 4.68945 11.5555 7.48145 11.5555C10.2734 11.5555 12.5374 9.29151 12.5374 6.49951C12.5374 3.70751 10.2734 1.44451 7.48145 1.44451ZM7.48145 12.9995C3.89245 12.9995 0.981445 10.0895 0.981445 6.49951C0.981445 2.90951 3.89245 -0.000488281 7.48145 -0.000488281C11.0714 -0.000488281 13.9814 2.90951 13.9814 6.49951C13.9814 10.0895 11.0714 12.9995 7.48145 12.9995Z" fill="white"/>
								</svg>
								| 3 Января 2018 года
							.slider-card-3-text А тут у нас тоже идет текст новости или ее заголовок
							.slider-card-3-author
								img(src="img/slider-author.png")
								| Tony Hawk
						.slider-card-3-item
							.timestamp.timestamp_white
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M9.19744 8.55551L7.14145 7.31751C6.84945 7.14251 6.71045 6.80251 6.75945 6.47551V4.33351C6.75945 3.93351 7.08245 3.61051 7.48145 3.61051C7.88045 3.61051 8.20444 3.93351 8.20444 4.33351V6.05151L9.98944 7.12651C10.3674 7.35351 10.4974 7.85951 10.2784 8.25351C10.0604 8.64851 9.57645 8.78351 9.19744 8.55551ZM7.48145 1.44451C4.68945 1.44451 2.42645 3.70751 2.42645 6.49951C2.42645 9.29151 4.68945 11.5555 7.48145 11.5555C10.2734 11.5555 12.5374 9.29151 12.5374 6.49951C12.5374 3.70751 10.2734 1.44451 7.48145 1.44451ZM7.48145 12.9995C3.89245 12.9995 0.981445 10.0895 0.981445 6.49951C0.981445 2.90951 3.89245 -0.000488281 7.48145 -0.000488281C11.0714 -0.000488281 13.9814 2.90951 13.9814 6.49951C13.9814 10.0895 11.0714 12.9995 7.48145 12.9995Z" fill="white"/>
								</svg>
								| 3 Января 2018 года
							.slider-card-3-text А тут у нас тоже идет текст новости или ее заголовок А тут у нас тоже идет текст новости или ее заголовокА тут у нас тоже идет текст новости или ее заголовокА тут у нас тоже идет текст новости или ее заголовок
							.slider-card-3-author
								img(src="img/slider-author.png")
								| Tony Hawk
						.slider-card-3-item
							.timestamp.timestamp_white
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M9.19744 8.55551L7.14145 7.31751C6.84945 7.14251 6.71045 6.80251 6.75945 6.47551V4.33351C6.75945 3.93351 7.08245 3.61051 7.48145 3.61051C7.88045 3.61051 8.20444 3.93351 8.20444 4.33351V6.05151L9.98944 7.12651C10.3674 7.35351 10.4974 7.85951 10.2784 8.25351C10.0604 8.64851 9.57645 8.78351 9.19744 8.55551ZM7.48145 1.44451C4.68945 1.44451 2.42645 3.70751 2.42645 6.49951C2.42645 9.29151 4.68945 11.5555 7.48145 11.5555C10.2734 11.5555 12.5374 9.29151 12.5374 6.49951C12.5374 3.70751 10.2734 1.44451 7.48145 1.44451ZM7.48145 12.9995C3.89245 12.9995 0.981445 10.0895 0.981445 6.49951C0.981445 2.90951 3.89245 -0.000488281 7.48145 -0.000488281C11.0714 -0.000488281 13.9814 2.90951 13.9814 6.49951C13.9814 10.0895 11.0714 12.9995 7.48145 12.9995Z" fill="white"/>
								</svg>
								| 3 Января 2018 года
							.slider-card-3-text А тут у нас тоже идет текст новости или ее заголовок А тут у нас тоже идет текст новости или ее заголовок
							.slider-card-3-author
								img(src="img/slider-author.png")
								| Tony Hawk
						.slider-card-3-item
							.timestamp.timestamp_white
								<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M9.19744 8.55551L7.14145 7.31751C6.84945 7.14251 6.71045 6.80251 6.75945 6.47551V4.33351C6.75945 3.93351 7.08245 3.61051 7.48145 3.61051C7.88045 3.61051 8.20444 3.93351 8.20444 4.33351V6.05151L9.98944 7.12651C10.3674 7.35351 10.4974 7.85951 10.2784 8.25351C10.0604 8.64851 9.57645 8.78351 9.19744 8.55551ZM7.48145 1.44451C4.68945 1.44451 2.42645 3.70751 2.42645 6.49951C2.42645 9.29151 4.68945 11.5555 7.48145 11.5555C10.2734 11.5555 12.5374 9.29151 12.5374 6.49951C12.5374 3.70751 10.2734 1.44451 7.48145 1.44451ZM7.48145 12.9995C3.89245 12.9995 0.981445 10.0895 0.981445 6.49951C0.981445 2.90951 3.89245 -0.000488281 7.48145 -0.000488281C11.0714 -0.000488281 13.9814 2.90951 13.9814 6.49951C13.9814 10.0895 11.0714 12.9995 7.48145 12.9995Z" fill="white"/>
								</svg>
								| 3 Января 2018 года
							.slider-card-3-text А тут у нас тоже идет текст новости или ее заголовок А тут у нас тоже идет текст новости или ее заголовок А тут у нас тоже идет текст новости или ее заголовок А тут у нас тоже идет текст новости или ее заголовок
							.slider-card-3-author
								img(src="img/slider-author.png")
								| Tony Hawk
				.slider-nav
					.slider-nav-top
						a.link-feedback(href="#") Все новости
					.slider-nav-bot
						.slider-nav-bot__arrow.slider-nav-bot__arrow_prev
							<svg width="106" height="8" viewBox="0 0 106 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0.646454 3.64644C0.451195 3.8417 0.451195 4.15828 0.646454 4.35354L3.82844 7.53552C4.0237 7.73079 4.34028 7.73079 4.53555 7.53553C4.7308 7.34026 4.7308 7.02368 4.53555 6.82842L1.70712 3.99999L4.53555 1.17156C4.7308 0.976302 4.7308 0.659719 4.53555 0.464457C4.34028 0.269195 4.0237 0.269195 3.82844 0.464457L0.646454 3.64644ZM106 3.5L1.00001 3.49999L1.00001 4.49999L106 4.5L106 3.5Z" fill="#777777"/>
							</svg>
						.slider-nav-bot__count
							| <span class="slider-nav-bot__count_current">1</span> из 4
						.slider-nav-bot__arrow.slider-nav-bot__arrow_next
							<svg width="106" height="8" viewBox="0 0 106 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M105.354 4.35355C105.549 4.15829 105.549 3.84171 105.354 3.64645L102.172 0.464466C101.976 0.269204 101.66 0.269204 101.464 0.464466C101.269 0.659728 101.269 0.976311 101.464 1.17157L104.293 4L101.464 6.82843C101.269 7.02369 101.269 7.34027 101.464 7.53553C101.66 7.7308 101.976 7.7308 102.172 7.53553L105.354 4.35355ZM0 4.5H105V3.5H0V4.5Z" fill="#777777"/>
							</svg>
	.screen.six-screen#six-screen
		.container_pd-160
			.head-text С кем работаем
			.partners-wrapper
				.partners-row
					.partners-item 
						img(src="img/partners/Ресурс 1.png", alt="")
					.partners-item 
						img(src="img/partners/Ресурс 2.png", alt="")
					.partners-item 
						img(src="img/partners/Ресурс 3.png", alt="")
					.partners-item 
						img(src="img/partners/Ресурс 4.png", alt="")
					.partners-item 
						img(src="img/partners/Ресурс 5.png", alt="")
				.partners-row
					.partners-item 
						img(src="img/partners/Ресурс 6.png", alt="")
					.partners-item 
						img(src="img/partners/Ресурс 7.png", alt="")
					.partners-item 
						img(src="img/partners/Ресурс 8.png", alt="")
					.partners-item 
						img(src="img/partners/Ресурс 9.png", alt="")
					.partners-item 
						img(src="img/partners/Ресурс 10.png", alt="")
				.partners-row
					.partners-item 
						img(src="img/partners/Ресурс 11.png", alt="")
					.partners-item 
						img(src="img/partners/Ресурс 12.png", alt="")
					.partners-item 
						img(src="img/partners/Ресурс 13.png", alt="")
					.partners-item 
						img(src="img/partners/Ресурс 14.png", alt="")
					.partners-item 
						img(src="img/partners/Ресурс 15.png", alt="")
	.screen.seven-screen#seven-screen
		.container_pd-160
			.head-text Выберите тип Вашего проекта
			.form
				.form-main
					.form-main-progress
						.form-main-progress-step
							| Шаг <span class="form-main-progress-step__count">1</span> из 5
						.form-main-progress-bar
							.form-main-progress-bar__line(style="width: 20%")
					.form-main-contain-wrapper
						.form-main-contain.active
							.form-main-contain-flexwrapper
								.form-main-contain-item
									.form-main-contain-item__img
										img(src="img/icons/form/1-1.png")
									.form-main-contain-item__text Электронная коммерция
								.form-main-contain-item
									.form-main-contain-item__img
										img(src="img/icons/form/1-2.png")
									.form-main-contain-item__text Корпоративный портал
								.form-main-contain-item
									.form-main-contain-item__img
										img(src="img/icons/form/1-3.png")
									.form-main-contain-item__text Уникальный проект
								.form-main-contain-item
									.form-main-contain-item__img
										img(src="img/icons/form/1-4.png")
									.form-main-contain-item__text Посадочная страница
								.form-main-contain-item
									.form-main-contain-item__img
										img(src="img/icons/form/1-5.png")
									.form-main-contain-item__text Интернет каталог
								.form-main-contain-item
									.form-main-contain-item__img
										img(src="img/icons/form/1-6.png")
									.form-main-contain-item__text Промо сайт
						.form-main-contain
							.form-main-contain-flexwrapper
								.form-main-contain-item
									.form-main-contain-item__img
										img(src="img/icons/form/2-1.png")
									.form-main-contain-item__text 1С-Битрикс
								.form-main-contain-item
									.form-main-contain-item__img
										img(src="img/icons/form/2-2.png")
									.form-main-contain-item__text UMI.CMS
								.form-main-contain-item
									.form-main-contain-item__img
										img(src="img/icons/form/2-3.png")
									.form-main-contain-item__text MODX
						.form-main-contain
							.form-main-contain-flexwrapper
								.form-main-contain-item
									.form-main-contain-item__img
										img(src="img/icons/form/3-1.png")
									.form-main-contain-item__text Новый проект
								.form-main-contain-item
									.form-main-contain-item__img
										img(src="img/icons/form/3-2.png")
									.form-main-contain-item__text Существующий
						.form-main-contain
							.form-main-contain-flexwrapper
								.form-main-contain-item
									.form-main-contain-item__img
										img(src="img/icons/form/4-1.png")
									.form-main-contain-item__text Срочно
								.form-main-contain-item
									.form-main-contain-item__img
										img(src="img/icons/form/4-2.png")
									.form-main-contain-item__text В течение недели
								.form-main-contain-item
									.form-main-contain-item__img
										img(src="img/icons/form/4-3.png")
									.form-main-contain-item__text В течение месяца
						.form-main-contain
							.form-main-contain-form
								.form-main-contain-form-row
									label.form-main-contain-form-input
										.form-main-contain-form-input__placeholder Имя
										input(type="text", placeholder="Имя").form-main-contain-form-input__input
									label.form-main-contain-form-input
										.form-main-contain-form-input__placeholder E-mail
										input(type="text", placeholder="Введите e-mail").form-main-contain-form-input__input
								.form-main-contain-form-row
									label.form-main-contain-form-input.form-main-contain-form-input_full
										.form-main-contain-form-input__placeholder Сообщение
										textarea(placeholder="Введите сообщение").form-main-contain-form-input__textarea
								.form-main-contain-form-row.form-main-contain-form-row_flex-start
									input(type="submit" value="Отправить").link-feedback.hover
									.input-file-wrapper
										label.link-feedback
											| Выберите файл
											input(type="file" value="Выберите файл")
										.input-file-label
											

				.form-list
					.form-list-head Ваш проект
					.form-list-item.active Тип
					.form-list-item Платформа
					.form-list-item(style="pointer-events: none") Состояние
					.form-list-item(style="pointer-events: none") Старт
					.form-list-item(style="pointer-events: none") Ваши контакты




