extends ../template

block title
	title MainPage

block contain
	.screen.first-screen
		.first-screen-side
			.head-text
				| Разработка и поддержка <span class="text-blue">eCommerce</span> проектов любой сложности
			.first-screen-side-list
				.first-screen-side-list-item Дизайн
				.first-screen-side-list-item Интеграция
				.first-screen-side-list-item Продвижение
				.first-screen-side-list-item Поддержка
		.first-screen-side.first-screen-side_background
			.mockup-wrapper
				.mockup-background
					img(src="img/first-screen-background.png")
				.mockup-top
					img(src="img/1.png")
				.mockup-right
					img(src="img/3.png")
				.mockup-bottom
					img(src="img/4.png")
				.mockup-left
					img(src="img/2.png")
				.mockup-site
					img(src="img/granat-mob.png")
	.screen.second-screen
		.container_pd-160
			.head-text Факты
			.second-screen-wrapper
				.second-screen-wrapper-side
					.second-screen-wrapper-side-column
						.second-screen-wrapper-side-item
							img(src="img/facts-1.png")
						.second-screen-wrapper-side-item
							img(src="img/facts-3.png")
					.second-screen-wrapper-side-column
						.second-screen-wrapper-side-item
							img(src="img/facts-2.png")
						.second-screen-wrapper-side-item
							img(src="img/facts-4.png")
				.second-screen-wrapper-side
					.second-screen-wrapper-side-row
						.second-screen-wrapper-side-row-item
							.second-screen-wrapper-side-row-item__head 70+
							.second-screen-wrapper-side-row-item__text Довольных клиентов, работающих с нами
						.second-screen-wrapper-side-row-item
							.second-screen-wrapper-side-row-item__head 7
							.second-screen-wrapper-side-row-item__text Лет мы занимаемся разработкой и поддержкой
						.second-screen-wrapper-side-row-item
							.second-screen-wrapper-side-row-item__head 38
							.second-screen-wrapper-side-row-item__text Топ разработчиков 1С-Битрикс в Санкт-Петербурге
						.second-screen-wrapper-side-row-item
							.second-screen-wrapper-side-row-item__head 30
							.second-screen-wrapper-side-row-item__text Топ разработчиков интернет-магазинов по версии CMS Magazine
						.second-screen-wrapper-side-row-item
							.second-screen-wrapper-side-row-item__head 5
							.second-screen-wrapper-side-row-item__text Средняя оценка нас клиентами по данным Рейтинга Рунета
						.second-screen-wrapper-side-row-item
							.second-screen-wrapper-side-row-item__head 13+
							.second-screen-wrapper-side-row-item__text Сертифицированных специалистов в команде
	.screen.third-screen
		.container_pd-160
			.head-text.mb70 Индивидуальное решение для каждого бизнеса
			.tabs-nav
				.tabs-nav-item.active Строительные компании
				.tabs-nav-item Медицинское направление
				.tabs-nav-item Рестораны
		.tabs-list
			.container_pd-160
				.tabs-list-item
					.tabs-list-item-side
						.tabs-list-item-text
							.tabs-list-item-text__head Гранат
							.tabs-list-item-text__descr земельные участки
							.tabs-list-item-text__arrow
								<svg width="88" height="8" viewBox="0 0 88 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M87.3536 4.35355C87.5488 4.15829 87.5488 3.84171 87.3536 3.64645L84.1716 0.464466C83.9763 0.269204 83.6597 0.269204 83.4645 0.464466C83.2692 0.659728 83.2692 0.976311 83.4645 1.17157L86.2929 4L83.4645 6.82843C83.2692 7.02369 83.2692 7.34027 83.4645 7.53553C83.6597 7.7308 83.9763 7.7308 84.1716 7.53553L87.3536 4.35355ZM0 4.5H87V3.5H0V4.5Z" fill="black"/>
								</svg>
						.tabs-list-item-img
							.tabs-list-item-img__icon
								| scroll
								img(src="img/icons/mouse.png")
							.tabs-list-item-img-devices
								.tabs-list-item-img-devices-desctop
									.mockup-desctop-top
										img(src="img/1-1.png")
									.mockup-desctop-right
										img(src="img/1-2.png")
									.mockup-desctop-bottom
										img(src="img/1-4.png")
									.mockup-desctop-left
										img(src="img/1-3.png")
								.tabs-list-item-img-devices-mob
									.mockup-top
										img(src="img/1.png")
									.mockup-right
										img(src="img/3.png")
									.mockup-bottom
										img(src="img/4.png")
									.mockup-left
										img(src="img/2.png")
									.mockup-site
										img(src="img/granat-mob.png")
					.tabs-list-item-side
						.tabs-list-item-text
							.tabs-list-item-text__head Гранат
							.tabs-list-item-text__descr земельные участки
							.tabs-list-item-text__arrow
								<svg width="88" height="8" viewBox="0 0 88 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M87.3536 4.35355C87.5488 4.15829 87.5488 3.84171 87.3536 3.64645L84.1716 0.464466C83.9763 0.269204 83.6597 0.269204 83.4645 0.464466C83.2692 0.659728 83.2692 0.976311 83.4645 1.17157L86.2929 4L83.4645 6.82843C83.2692 7.02369 83.2692 7.34027 83.4645 7.53553C83.6597 7.7308 83.9763 7.7308 84.1716 7.53553L87.3536 4.35355ZM0 4.5H87V3.5H0V4.5Z" fill="black"/>
								</svg>
						.tabs-list-item-img
							.tabs-list-item-img__icon
								| scroll
								img(src="img/icons/mouse.png")
							.tabs-list-item-img-devices
								.tabs-list-item-img-devices-desctop
									.mockup-desctop-top
										img(src="img/1-1.png")
									.mockup-desctop-right
										img(src="img/1-2.png")
									.mockup-desctop-bottom
										img(src="img/1-4.png")
									.mockup-desctop-left
										img(src="img/1-3.png")
									.mockup-desctop-site
								.tabs-list-item-img-devices-mob
									.mockup-top
										img(src="img/1.png")
									.mockup-right
										img(src="img/3.png")
									.mockup-bottom
										img(src="img/4.png")
									.mockup-left
										img(src="img/2.png")
									.mockup-site
										img(src="img/granat-mob.png")
				.tabs-list-item
				.tabs-list-item


