extends ../template

block title
	title Our Services

block contain
	.block.services
		.block-head Наши услуги
		.block-text
			| Огромный опыт разработки проектов различной сложности, опытный отдел маркетинга, собственный
			| сертифицированный отдел разработки позволяют не только разрабатывать и запускать успешные интернет проекты,
			| но и заниматься дальнейшим развитием и продвижением бизнеса клиентов.
		.services-block
			.block-row
				.block-row-side
					.block-side-head Веб разработка
					.block-side-text
						| Широкий спект разработки веб-сайтов с нуля, #{br} 
						| с использованием современных технологий
					.block-side-list
						ul.block-side-list-column
							li.block-side-list-column-item Интернет магазины
							li.block-side-list-column-item Корпоративные сайты
							li.block-side-list-column-item Блоги
							li.block-side-list-column-item Мобильные сайты
						ul.block-side-list-column
							li.block-side-list-column-item Посадочные страницы
							li.block-side-list-column-item Промо сайты
							li.block-side-list-column-item Уникальные проекты
					a.block-side-link(href="#") Узнать подробнее
				.block-row-side.block-row-side_end
					img(src="img/web-dev.png")
			.block-row
				.block-row-side
					.block-side-head Дизайн
					.block-side-text
						| Создание уникального дизайна с проработкой всех #{br}
						| деталей до мелочей
					.block-side-list
						ul.block-side-list-column
							li.block-side-list-column-item Эскизная работа
							li.block-side-list-column-item Адаптивный дизайн
							li.block-side-list-column-item Прототипирование
							li.block-side-list-column-item Дизайн сайтов
						ul.block-side-list-column
							li.block-side-list-column-item Создание презентации
							li.block-side-list-column-item Анимация
							li.block-side-list-column-item Создание логотипа
							li.block-side-list-column-item Дизайн рекламы
					a.block-side-link(href="#") Узнать подробнее
				.block-row-side.block-row-side_end
					img(src="img/design.png")
			.block-row
				.block-row-side
					.block-side-head Маркетинговая стратегия
					.block-side-text
						| Глубокая аналитика всех процессов Вашего бизнеса и #{br}
						| создание уникальное стратегии
					.block-side-list
						ul.block-side-list-column
							li.block-side-list-column-item Маркетинг план
							li.block-side-list-column-item SEO продвижение
							li.block-side-list-column-item Таргетированная реклама
							li.block-side-list-column-item SMM
						ul.block-side-list-column
							li.block-side-list-column-item Аналитика
							li.block-side-list-column-item Создание семантического ядра
							li.block-side-list-column-item Тестирование
					a.block-side-link(href="#") Узнать подробнее
				.block-row-side.block-row-side_end
					img(src="img/market-strategy.png")
	.block.block_grey
		.block-head Следуйте простым правилам
		.accordion
			.accordion-item
				.accordion-item-head
					.accordion-item-head__number #1
					.accordion-item-head__text Краткий бриф
					.accordion-item-head__cross
						span.cross-line
						span.cross-line
				.accordion-item-main
					| Первый шаг-собрать всю необходимую для проекта информацию, разобраться с запросом. Наши отделы маркетинга, дизайна и разработки анализируют запрос на основе предоставленной информации и составляют план действий.
			.accordion-item
				.accordion-item-head
					.accordion-item-head__number #2
					.accordion-item-head__text Встреча
					.accordion-item-head__cross
						span.cross-line
						span.cross-line
				.accordion-item-main
					| Первый шаг-собрать всю необходимую для проекта информацию, разобраться с запросом. Наши отделы маркетинга, дизайна и разработки анализируют запрос на основе предоставленной информации и составляют план действий.
			.accordion-item
				.accordion-item-head
					.accordion-item-head__number #3
					.accordion-item-head__text Анализ
					.accordion-item-head__cross
						span.cross-line
						span.cross-line
				.accordion-item-main
					| Первый шаг-собрать всю необходимую для проекта информацию, разобраться с запросом. Наши отделы маркетинга, дизайна и разработки анализируют запрос на основе предоставленной информации и составляют план действий.
			.accordion-item
				.accordion-item-head
					.accordion-item-head__number #4
					.accordion-item-head__text Индивидуальный дизайн
					.accordion-item-head__cross
						span.cross-line
						span.cross-line
				.accordion-item-main
					| Первый шаг-собрать всю необходимую для проекта информацию, разобраться с запросом. Наши отделы маркетинга, дизайна и разработки анализируют запрос на основе предоставленной информации и составляют план действий.
			.accordion-item
				.accordion-item-head
					.accordion-item-head__number #5
					.accordion-item-head__text Разработка
					.accordion-item-head__cross
						span.cross-line
						span.cross-line
				.accordion-item-main
					| Первый шаг-собрать всю необходимую для проекта информацию, разобраться с запросом. Наши отделы маркетинга, дизайна и разработки анализируют запрос на основе предоставленной информации и составляют план действий.
			.accordion-item
				.accordion-item-head
					.accordion-item-head__number #6
					.accordion-item-head__text Запуск
					.accordion-item-head__cross
						span.cross-line
						span.cross-line
				.accordion-item-main
					| Первый шаг-собрать всю необходимую для проекта информацию, разобраться с запросом. Наши отделы маркетинга, дизайна и разработки анализируют запрос на основе предоставленной информации и составляют план действий.