@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "vendor/normalize";

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Proxima Nova';
    &::-webkit-scrollbar {
        display: none;
    }
}

.map {
    &-wrapper {
        overflow: hidden;
    }
    position: relative;
    &:after {
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        background: linear-gradient(to top, rgba(0,0,0,1), transparent);
    }
}

.map-legend {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 20px;
    background: rgba(0,0,0,0.7);
    border-radius: 5px;
    width: 560px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    &.hidden {
        transform: translate(-100%, 0%);
    }
    &-mob {
        position: absolute;
        top: 20px;
        right: 15px;
        height: 15px;
        width: 15px;
        display: none;
        transition: 0.3s ease-in-out;
        z-index: 1000;
        &.hidden {
            right: calc(100% - 15px);
            &:after {
                transform: translate(-50%, -50%) rotate(225deg);
            }
        }
        @media screen and (max-width: 768px) {
            display: block;
        }
        &:after {
            transition: 0.3s ease-in-out;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 15px;
            height: 15px;
            border-bottom: 2px solid #FFFFFF;
            border-left: 2px solid #FFFFFF;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }
    @media screen and (max-width: 768px) {
        width: calc(100% - 40px);
        left: 0;
        top: 0;
        height: calc(100vh - 40px);
        overflow-y: auto;
        border-radius: 0px;
    }
    &-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }
    &-column {
        margin-right: 20px;
        width: 270px;
        @media screen and (max-width: 768px) {
            margin-right: 0px;
            margin-bottom: 5px;
        }
        &:last-child {
            margin-right: 0px;
            @media screen and (max-width: 768px) {
                margin-bottom: 0px;
            }
        }
    }
}

.legend-item {
    display: flex;
    align-items: center;
    color: #FFF;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    @media screen and (max-width: 768px) {
        margin-bottom: 5px;
    }
    span {
        font-size: 12px;
    }
    &:last-child {
        margin-bottom: 0px;
    }
    img {
        margin-right: 20px;
        transition: 0.3s ease-in-out;
    }
    &_all {
        height: 45px;
        justify-content: center;
        @media screen and (max-width: 768px) {
            order: -1;
            justify-content: flex-start;
            margin-bottom: 20px !important;
        }
    }
    &.active {
        span {
            display: inline-block;
            border-bottom: 1px dashed #FFF;
        }
        img {
            margin-right: 30px;
        }
    }
}