footer
	.footer-wrapper
		.footer-item
			| © 2013-2018 Ra-studio 
		.footer-item
			a(href="tel: +7 (812) 123-34-56") +7 (812) 123-34-56
		.footer-item
			| г. Санкт-Петербург ул.#[br] Инструментальная д. 3
		.footer-item
			a(href="mailto: info@ra-studio.ru") info@ra-studio.ru
		.footer-item
			a.switch-lang(href="#") Switch to English
			
