.pagination
	a.pagination-item(href="#first-screen").active
	a.pagination-item(href="#second-screen")
	a.pagination-item(href="#third-screen")
	a.pagination-item(href="#fourth-screen")
	a.pagination-item(href="#fifth-screen")
	a.pagination-item(href="#six-screen")
	a.pagination-item(href="#seven-screen")